*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --main-bg-color: #181a1b;
    --secondary-bg-color: rgb(48, 48, 48);

    --primary-color: rgb(53, 60, 122);
    --primary-color-light: rgb(76, 83, 148);
    --primary-color-lighter: rgb(144, 153, 230);
    --primary-color-dark: rgb(27, 31, 65);

    --main-color: #e6e6e6;

    
    background-color: var(--main-bg-color);
    color: var(--main-color);
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: none;
    color: var(--main-color);
    padding: .2rem;
    cursor: pointer;
    text-decoration: none;

    &:hover{
        background-color: var(--primary-color-light);
    }
}

#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1.2rem;

    h1{
        margin-bottom: 6rem;
    }

    video{
        width: 100%;
    }

    .calender{
        width: 100%;
        max-width: 1000px;

        .calender-header{
            display: grid;
            grid-template-columns: 1fr 5fr 1fr; 
            grid-gap: .4rem;
            margin-bottom: 1rem;

            h2{
                display: flex;
                justify-content: center;
            }

        }

        .calender-content{
            display: grid;
            grid-template-columns: repeat(7, 1fr); 
            grid-gap: .4rem;

            .day{
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                padding: .2rem;
                vertical-align: middle;

                &.day-of-the-week-heading{
                    font-weight: bold;
                    background: var(--primary-color-dark);
                }

                &.this-month{
                    background-color: var(--secondary-bg-color);
                }

                &.has-recording{
                    //text-decoration: underline;
                    cursor: pointer;
                    font-weight: bold;
                    //color: var(--primary-color-lighter);
                    transition: background-color 0.3s ease;

                    &:hover{
                        background-color: var(--primary-color-dark);
                    }

                    &::before{
                        content: "";
                        display:block;
                        width: 0.5em;
                        height: 0.5em;
                        border-radius: 100%;
                        background-color: red;
                        margin-right: 0.25em;
                    }
                }
            }
        }
    }
}