* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    --main-bg-color: #ffffff;
    --secondary-bg-color: rgb(221, 221, 221);

    --primary-color: rgb(86, 97, 190);
    --primary-color-light: rgb(95, 106, 206);
    --primary-color-lighter: rgb(108, 117, 202);
    --primary-color-dark: rgb(64, 74, 168);

    --main-color: #141414;
    --color-on-primary: #ffffff;

    background-color: var(--main-bg-color);
    color: var(--main-color);
}

@media (prefers-color-scheme: dark) {
    body {
        --main-bg-color: #181a1b;
        --secondary-bg-color: rgb(48, 48, 48);
        
        --primary-color: rgb(53, 60, 122);
        --primary-color-light: rgb(76, 83, 148);
        --primary-color-lighter: rgb(144, 153, 230);
        --primary-color-dark: rgb(27, 31, 65);

        --main-color: #e6e6e6;
    }
}

input[type="submit"],
button,
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: none;
    color: var(--color-on-primary);
    padding: 0.6rem;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        background-color: var(--primary-color-light);
    }
}

.space-top{
    margin-top: 2rem;
}

.space-bottom{
    margin-bottom: 2rem;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1.2rem;

    h1 {
        margin-bottom: 4rem;
        text-align: center;
    }

    video {
        margin-top: 2rem;
        width: 100%;
    }

    .recordings{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .hour-section{
            h2{
                padding: 2rem 0 1rem 0;
                text-align: center;
                cursor: pointer;
                transition: background-color .3s ease;
                transition: color .3s ease;

                &::after{
                    content: "▼";
                }

                &:hover{
                    color: var(--primary-color);
                }
            }

            .hour{
                display: none;
    
                .recording{
                    margin: 0.1rem;
                    flex: 1;
                }
            }
    
    
            &.open{
                h2{
                    &::after{
                        content: "▲";
                    }
                }

                .hour{
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                }
            }
        }
    }

    .calender {
        width: 100%;
        max-width: 1000px;
        margin-bottom: 4rem;

        .calender-header {
            display: grid;
            grid-template-columns: 1fr 5fr 1fr;
            grid-gap: 0.4rem;
            margin-bottom: 1rem;

            h2 {
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }

        .calender-content {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-gap: 0.2rem;

            .day {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                padding: 0.2rem;
                vertical-align: middle;

                &.day-of-the-week-heading {
                    font-weight: bold;
                    background: var(--primary-color-dark);
                    color: var(--color-on-primary);
                }

                &.this-month {
                    background-color: var(--secondary-bg-color);
                }

                &.has-recording {
                    text-decoration: none;
                    cursor: pointer;
                    font-weight: bold;
                    color: var(--main-color);
                    background-color: var(--primary-color);
                    color: var(--color-on-primary);
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: var(--primary-color-dark);
                    }

                    &::before {
                        content: "🚨";
                        font-size: 0.6em;
                        margin-right: 0.2em;
                    }
                }
            }
        }
    }

    #control-panel {
        width: 100%;
        max-width: 600px;
        font-size: 1rem;

        padding: 1rem;
        border: 1px solid var(--primary-color);

        display: flex;
        flex-direction: column;
        justify-content: stretch;

        input{
            width: 100%;
        }
    }
}  

@media only screen and (max-width: 600px) {
    #main-content {
        #control-panel {
            width: 100%;
        }
    }
}
